<%-include('../Includes/Header.ejs')%>
</head>
<body>
    <%-include('../Includes/Navbar.ejs')%>

    <div class="card" style="width: 18rem;">
            
        <div class="card-body">
            <p>New Password</p>
            <form action="/newpassworddata" method="POST">
              <input type="hidden" value="<%=csrf_token%>" name="_csrf">
                <label for="password">Enter New Password</label><br>
                <input type="text" name="pwd"><br>
                <label for="password">Confirm Password</label><br>
                <input type="text" name="cpwd"><br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" name="user_id" value="<%=userId%>">
              </form>
        </div>
      </div>


    <%-include('../Includes/Footer.ejs')%>